# Python virtual environment
venv/
venv310/
Include/
Lib/
Scripts/
*.cfg
share/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Database files
*.db
*.sqlite3

# Environment variables
.env

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Face recognition data
known_faces/

# IDE specific files
.vscode/
.idea/

# Compiled files
*.whl
